<mat-toolbar color="primary" class="header-toolbar">
    <a class="navbar-brand" href="#">
        <img src="assets/logo-black.png" alt="Medcare Logo" class="logo">
      </a>
    <nav>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/treatments">Treatments</a>
      <a mat-button routerLink="/doctors">Doctors</a>
      <a mat-button routerLink="/timetable">Timetable</a>
      <a mat-button routerLink="/contact">Contact</a>
    </nav>
    <button mat-raised-button color="accent" class="book-online-btn" routerLink="/book-appointment">Book Online</button>
  </mat-toolbar>