<!-- About Section -->
<div class="about-section">
  <div class="container about-hospital-content">
    <!-- Left side with images -->
    <div class="about-hospital-images">
      <img src="../../assets/doc1.jpg" alt="Doctors" class="doctor-group-image"/>
    </div>

    <!-- Right side with text and buttons -->
    <div class="about-hospital-text">
      <h2>Welcome to our Medcare hospital.</h2>
      <p>
        We value each and every human life placed in our hands and constantly
        work towards meeting the expectations of our customers and stakeholders.
      </p>
      <div class="stats">
        <div class="stat-item">
          <h3>722+</h3>
          <p>5 star reviews from our satisfied people.</p>
        </div>
      </div>
      <div class="about-buttons">
        <button mat-raised-button color="primary">About Hospital</button>
        <button mat-raised-button>Check Timetable</button>
      </div>
    </div>
  </div>
</div>
