<!-- Timetable Section -->
<div class="timetable-section">
  <div class="hero-section">
    <app-banner [bannerData]="timetableBanner"></app-banner>
  </div>
  

  <!-- Filter Menu -->
  <div class="filter-menu d-flex justify-content-center flex-wrap">
    <button
      *ngFor="let filter of filters"
      class="filter-btn"
      [class.active]="filter === currentFilter"
      (click)="setFilter(filter)"
    >
      {{ filter }}
    </button>
    <div class="timetable-container table-responsive">
      <table class="table timetable">
        <thead class="thead-light">
          <tr>
            <th>Time</th>
            <th *ngFor="let day of days">{{ day }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let slot of getFilteredTimetable()">
            <td>{{ slot.time }}</td>
            <td *ngFor="let day of days">
              <ng-container *ngIf="slot[day]?.dept">
                {{ slot[day].dept }}<br />
                <span>{{ slot[day].doctor }}</span>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Timetable Table -->
  

  <!-- Contact Section -->
  <div class="contact-section">
    <div class="d-flex align-items-center">
      <img src="assets/staff.png" alt="Staff Image" class="staff-image" />
      <p>
        Please feel free to contact our friendly reception staff with any
        medical inquiry or call <strong>+1 234 567 8910</strong>
      </p>
    </div>
    <button class="call-btn">
      <mat-icon>call</mat-icon> +1 234 567 8910
    </button>
  </div>
</div>