<!-- Hero Section -->
<div class="hero-section">
    <div class="hero-content">
      <div class="hero-text">
        <h1>Most trusted health partner for your life.</h1>
        <p>Tell us your problem!</p>
        <div class="action-buttons">
          <button mat-raised-button color="primary">Find a Doctor</button>
          <button mat-raised-button color="accent">Video Call</button>
        </div>
      </div>
      <div class="hero-image">
        <img src="../../assets/banner.png" alt="Doctor" class="doctor-image" />
        <div class="verified-tag">
          <mat-card class="verified-card">
            <div class="icon-and-text">
              <mat-icon>favorite</mat-icon>
              <div class="verified-text">
                <mat-card-content style="padding: 0;">Verified doctors</mat-card-content>
                <mat-card-subtitle>Professional doctor</mat-card-subtitle>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>