/* Centering and responsiveness */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* Dark overlay with 40% opacity */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* Ensure loader is on top of other content */
  }
  
  .loader-svg {
    width: 100px; /* Default size for the loader */
    height: auto;
  }
  
  @media (max-width: 768px) {
    .loader-svg {
      width: 80px;
    }
  }
  
  @media (max-width: 576px) {
    .loader-svg {
      width: 60px;
    }
  }
  
  /* Loader animation */
  .loading svg polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .loading svg polyline#back {
    fill: none;
    stroke: #eaf4f7;
  }
  
  .loading svg polyline#front {
    fill: none;
    stroke: #00bfa5;
    stroke-dasharray: 48, 144;
    stroke-dashoffset: 192;
    animation: dash_682 1.4s linear infinite;
  }
  
  @keyframes dash_682 {
    72.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
  }