/* Appointment Section */
.appointment-section {
    padding: 60px 20px;
    background-color: #eaf4f7
}

.appointment-section .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-info h2 {
    font-size: 32px;
    font-weight: bold;
}

.contact-info p {
    font-size: 16px;
    margin-bottom: 20px;
}

.urgent-contact {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.contact-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.contact-details h3 {
    font-size: 24px;
    margin-top: 5px;
}

.appointment-form .mat-form-field {
    width: 100%;
}

.appointment-form button {
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #00bfa5;
    color: white;
    border: none;
    cursor: pointer;
}

.appointment-form button:hover {
    background-color: #009f8a;
}

.full-width {
    width: 100%;
}

@media (max-width: 768px) {
    .appointment-section .row {
        flex-direction: column;
    }
}