/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.hero-section{
    padding: 60px 20px;
  background-color: #eaf4f7;
  position: relative;
  border-radius: 10px;
}

.mid-hero-section{
    padding: 60px 20px;
  background-color: #eaf4f7;
  position: relative;
  border-radius: 10px;
  text-align: center;
}