<footer class="footer-section">
    <div class="container">
      <div class="footer-content">
        <!-- Logo and Links -->
        <div class="logo-and-links">
          <div class="logo">
            <img src="assets/logo-white.png" alt="Medcare Logo">
          </div>
          <nav class="footer-links">
            <a routerLink="/home">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/treatments">Treatments</a>
            <a routerLink="/doctors">Doctors</a>
            <a routerLink="/timetable">Timetable</a>
            <a routerLink="/contact">Contact</a>
          </nav>
        </div>
  
        <!-- Social Icons -->
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-dribbble"></i></a>
        </div>
      </div>
  
      <!-- Copyright -->
      <div class="copyright">
        <p>© 2024<a href="#"></a></p>
        <div class="terms">
          <a href="#">Terms and conditions</a>
          <a href="#">Privacy policy</a>
        </div>
      </div>
    </div>
  </footer>